@import url('https://fonts.googleapis.com/css2?family=Goldman&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  /* border: 1px solid tomato; */
}
html{
  height: 100vh;
}

html, body {
  box-sizing: border-box;
  font-family: 'Goldman', cursive;
  display: flex;
  justify-content: center;
}

body {
  /* width: 550px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #040404;
}

h3{
  color: white;
}
.hide{
  display: none;
}
.show{
  display: block;
}

button{
  margin: 20px;
  background-color: tomato;
  outline: none;
  padding: 5px 10px;
  border-radius: 10px 0 10px 0;
}





  /* label{
    color: tomato;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 100%;
  }
  input{
    width: 50%;
    color: tomato;
    font-weight: bold;
    text-align: center;
    letter-spacing: 3px;
  }
  p{
    color: white;
  } */
